
/***** ABOUT PAGE *****/

.about_body {
    text-align: center;
    padding: 5% 0;
}

.about_body_text {
    width: 450px;
    margin: 0 auto;
}
.vidbackground {
    width: 100%; 
    height: 100%; 
    position: absolute; 
    left: 0px; 
    top: 0px; 
    z-index: 0;
}
.stretch {
    width:100%;
    height:100%;
}
/* STATS BOX */

.stats-container {
    margin-bottom: 40px;
}

#stats {

}

#stats ul li {
    display: inline-block;
    padding: 0 25px 0;
    text-align: center;
}

#stats h1 {
    font-size: 5em;
    color: #1ac6e2;
}

#stats p {
    color: #bbbbbb;
}

.team {
    margin: auto;
}

/* E-BOARD IMAGE GRID */
.e-board {
    margin: 0 auto;
}

/* HISTORY */

.history-container {
    margin-bottom: 50px;
}

.history-container h2 {
    margin-bottom: 30px;
}

.history-event {
    width: 150px !important;
    border: 2px solid #EEEEEE;
    position: relative;
}
