
/* ABOUT PAGE BODY */

.about_body {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    text-align: center;
}

.about_body_text {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

#stats {
    text-align: center;
}

rect {
    stroke-width: 5px;
    stroke: #eeeeee;
    fill: #ffffff;
}