
/* ABOUT PAGE */

.about_body {
    margin: 10% auto 5%;
    text-align: center;
}

.about_body_text {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* STATS BOX */

#stats {
    margin: 0 auto 10%;
    border: solid 1px #eeeeee;
    width: 500px;
}

#stats ul li {
    display: inline-block;
    margin: 0 5% 0;
    text-align: center;
}

#stats h1 {
    color: #1ac6e2;
}

#stats p {
    color: #bbbbbb;
}