/***** CONTACT PAGE *****/

button:focus {
    outline: 0 !important;
}

.contact-container {
    padding: 0;
    background-color: #FFFFFF;
}

/** CONTACT NAVIGATION BAR **/

.tab-filter-container {
    width: 100%;
    background: #F2F2F2;
    height: 40px;
}

.tab-filters {
    list-style-type: none;
    text-align: center;
    padding-right: 40px;
}

.filter {
    display: inline-block;
    height: 40px;
    padding-top: 5px;
}

.filter.active {
    border-bottom: 4px solid #1AC6E2;
}

.filter-link {
    font-size: 20px;
    color: #9A9A9A;
    margin: 0 40px;
}

.filter-link:hover,
.filter-link:focus,
.filter-link.active {
    text-decoration: none;
    color: #1AC6E2;
}

/** PRIMARY CONTACT FORM **/

.contact-body h1 {
    text-align: center;
}

.form-row {
    margin-top: 40px;
}

.form-control {
    margin-bottom: 20px;
}

.form-btn {
    background-color: #1AC6E2;
    color: #FFFFFF;
    border: none;
}

.form-btn:hover,
.form-btn:focus {
    background-color: #17acc4;
    color: #FFFFFF;
}

/** GENERAL CONTACT FORM **/

.general-contact h3 {
    text-align: center;
}
