/***** CONTACT PAGE *****/

button:focus {
    outline: 0 !important;
}

.contact-container {
    padding: 0;
    background-color: #FFFFFF;
}

/** CONTACT NAVIGATION BAR **/

.tab-filter-container {
    width: 100%;
    background: #F2F2F2;
    height: 40px;
}

.tab-filters {
    list-style-type: none;
    text-align: center;
    padding-right: 40px;
}

.filter {
    display: inline-block;
    height: 40px;
    padding-top: 5px;
}

.filter.active {
    border-bottom: 4px solid #1AC6E2;
}

.filter-link {
    font-size: 20px;
    color: #9A9A9A;
    margin: 0 40px;
}

.filter-link:hover,
.filter-link:focus,
.filter-link.active {
    text-decoration: none;
    color: #1AC6E2;
}

/** PRIMARY CONTACT FORM **/

.contact-background {
    background-image: url("../img/backgrounds/wristbands.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 30px;
}

.contact-body h1 {
    text-align: center;
    color: #FFFFFF;
}

.contact-label {
    color: #FFFFFF;
}

.form-row {
    margin-top: 40px;
}

.form-control {
    margin-bottom: 20px;
}

.contact-input {
    background-color: rgba(255, 255, 255, 0.5);
}

.form-control:focus {
    box-shadow: none;
    border: 2px solid #1AC6E2;
}

.form-btn {
    background-color: #1AC6E2;
    color: #FFFFFF;
    border: none;
}

.form-btn:hover,
.form-btn:focus {
    background-color: #2ab5d0;
    color: #FFFFFF;
}

.contact-paragraph {
    color: #FFFFFF;
}

/** GENERAL CONTACT FORM **/

.general-contact {
    padding-top: 20px;
    padding-bottom: 40px;
}

.general-contact h3 {
    text-align: center;
    margin-bottom: 30px;
}
