#box-wrap p {
    margin: 40 40 40 40;
}

/**********************************************************
NAVIGATION - VIDEO SUB-CATEGORIES
***********************************************************/

.video-nav-container {
    margin-bottom: 40px;
}

.video-nav {
    list-style-type: none;
    float: left;
    margin: 0 0 0 -40px; /* weird margin, ask about better solution*/
}

.video-nav li {
    border: none;
    background-color: transparent;
    display: inline-block;
    padding: 0 10px 0 10px;
    text-align: center;
    font-size: 16px;
}

.education-btn {
    color: #28292E;
}

.education-btn:hover,
.education-btn:focus {
    background-color: #1AC6E2;
    color: #FFFFFF;
}

.active-btn {
    background-color: #1AC6E2;
    color: #FFFFFF;
}

/* VIDEO CONTAINER */

.video-container-inner {
    border: 1px solid #DDDDDD;
    margin-bottom: 50px;
    padding-top: 20px;
}

@media (max-width: 767px) {
    .video-container-inner {
        border: none;
    }
}

.video {
    margin-bottom: 20px;
}

.video-title {
    font-weight: bold;
}

.video-description {
    font-size: 13px;
    color: #555555;
}
