/*
Official GAI colors (as used in branding in the past):
Blue: #2EC1DE
Green: #A7CF53
Purple: #874D9D
Orange: #E2AC2F
Pink: #D04397
*/

/*
html {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;

}

body {
	width: 100%;
	height: 100%;
	padding: 50px 0 0 0;
	margin: 0;
	background-color:#28292E;
}
*/

.container{
	width: 100%;
}
.footer{
	width:100%;
	background-color:#28292E;
}

.extend{

}


/* Navigation bar CSS for other pages.
.navbar{
	background-color:#28292E;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-nav li a{
	color:#FFFFFF;
}
.navbar .navbar-nav li a:link{
	color:#FFFFFF;
}
.navbar .navbar-nav li a:visited{
	color:#FFFFFF;
}
.navbar .navbar-nav li a:hover{
	color:#2EC1DE;
}
.navbar .navbar-nav li a:active{
	color:#3fe5ff;
}

.navbar .navbar-collapse {
  text-align: center;
}

.nav-active{
	background-color:#4f4f4f;
}

@media (min-width: 1200px) {
    .container-fluid{
        max-width: 970px;
    }
    .container{
        max-width: 970px;
        margin:auto;
    }
    .navbar-nav{
        margin:auto;
    }
}
*/

.linky:visited{
	text-decoration: none;
	color: #6543d3;
}
.linky:hover{
	text-decoration: none;
	color: #3fe5ff;
}
.linky:link{
	text-decoration: none;
	color: #2EC1DE;
}
.linky:active{
	text-decoration: none;
	color: #13afc6;
}


.footer-lists ul{
	float: left;
	width: 16.6%;
	padding:5px;
	list-style-type: none;
}
.footer-lists ul li{
	/*text-decoration: none;*/
}
.footer-lists ul li a{
	text-decoration: none;
	color: #848484;
}
.footer-lists ul li a:hover{
	color: #2EC1DE;
}
.footer-lists ul li:first-child a{
	text-decoration: none;
	color: #FFFFFF;
}
.footer-lists ul li:first-child a:hover{
	color: #2EC1DE;
}

.footer-lists ul a img{
	opacity:100%;
}
.footer-lists ul a img:hover{
	opacity:30%;
}




.blue {
	background-color: #2EC1DE;
}

.green {
	background-color: #A7CF53;
}

.purple {
	background-color: #874D9D;
}

.orange {
	background-color: #E2AC2F;
}

.pink {
	background-color: #D04397;
}

.black {
	background-color: #111;
}

.white {
	background-color: #fff;
}

.black-text {
	color: #111;
}

.blue-text {
	color: #2EC1DE;
}

.green-text {
	color: #A7CF53;
}

.purple-text {
	color: #874D9D;
}

.orange-text {
	color: #E2AC2F;
}

.pink-text {
	color: #D04397;
}

.white-text {
	color: #fff;
}

